@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/js/models/search.js"></script>
    <script src="~/js/pages/search.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Start Your Search</h1>
    <p>Click on the start button below to begin a search and watch the screen as it refreshes to show the state of each individual search element.</p>
    <input type="button" v-on:click="startSearch" value="Start Search" />
    <hr />
    <p>Current Token: {{page.currentToken}}</p>

</div>